@font-face {
    font-family: "Norse";
    src: url(./fonts/Norse-Bold/Norse-Bold.woff) format(woff),
        url(./fonts/Norse-Bold/Norse-Bold.woff2) format(woff2);
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

body {
    background-color: rgb(225, 224, 224);
}

.page {
    display: flex;
}

.page__image {
    position: relative;
}

.page__logo {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 200px;
}

.page__logo-image {
    height: 80%;
}

.page__logo-title {
    font-family: "Norse", 'Times New Roman', Times, serif;
    font-size: 130px;
    color: white;
}

.page__credit{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); 
}

.page__credit-link{
    color: white;
}

a:visited{
    color: white;
}