@font-face {
    font-family: "Norse";
    src: url(./fonts/Norse-Bold/Norse-Bold.woff) format(woff),
        url(./fonts/Norse-Bold/Norse-Bold.woff2) format(woff2);
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Monteserrat";
    src: url(./fonts/Monteserrat-Regular/Montserrat-Regular.woff) format(woff),
        url(./fonts/Monteserrat-Regular/Montserrat-Regular.woff2) format(woff2);
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

body {
    background-color: rgb(232, 232, 232);
}

.page {
    display: flex;

}

.page__image {
    position: relative;
}

.page__image--img {
    height: 100vh;
}

.page__logo {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: calc(100vh/3);
    transform: translateY(-100%);
}

.page__logo-image {
    height: 80%;
}

.page__logo-title {
    font-family: 'Norse', 'Times New Roman', Times, serif;
    font-size: 130px;
    color: white;
}

.page__credit {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.page__credit-link {
    color: white;
    text-align: center;
}

.page__intro {
    height: calc(100vh/3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.page__subtitle {
    margin-top: 20px;
}

.page__form {
    height: calc(100vh/3);
    background-color: white;
    padding-top: 10px;
    padding-left: 100px;
}

.page__form-intro {
    padding-bottom: 30px;
}

.form__group {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.form__field {
    position: relative;
}

.form__label {
    position: absolute;
    top: -20px;
}


.page__footer {
    height: calc(100vh/3);
}

a:visited {
    color: white;
}

h2 {
    font-family: 'Monteserrat', 'Courier New', Courier, monospace;
}

label {
    font-family: 'Monteserrat', 'Courier New', Courier, monospace;
    font-size: 12px;
}